footer{
    padding-bottom: 40px;
    padding-top: 20px;
    background: rgba(0,23,255,1);
    background: -moz-linear-gradient(left, rgba(0,23,255,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,23,255,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(0,23,255,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(0,23,255,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,23,255,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(0,23,255,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0017ff', endColorstr='#207ce5', GradientType=1 );
}

footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: rgba(255, 251, 0, 0.986);
}

nav ul {
    margin-left: auto;
}

#main .carousel-inner img{
    max-height: 60vh;
    object-fit: cover;

    
}

#carousel{
    z-index: 1;
    position:relative;
}

#carousel .overlay{
    z-index: 2; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
   
}


#carousel .overlay .container,
#carousel .overlay .row{
height: 100%;
}

#carousel .overlay .container{
    width: 100%;
}

